apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "db.labels" . | nindent 4 }}
spec:
  clusterIP: None
  selector:
    {{- include "db.postgresSelectorLabels" . | nindent 4 }}
  ports:
  - port: {{ .Values.postgres.port }}
