apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: db-secret
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "db.labels" . | nindent 4 }}
spec:
  # IMPORTANT: encryptedData values must be sealed using kubeseal
  # To seal: echo -n 'value' | kubeseal --raw --namespace <namespace> --name db-secret
  encryptedData:
    # PostgreSQL username - Sealed from .Values.postgres.user
    POSTGRES_USER: {{ .Values.postgres.userSealed | quote }}
    # PostgreSQL password - Sealed from .Values.postgres.password
    POSTGRES_PASSWORD: {{ .Values.postgres.passwordSealed | quote }}
  template:
    type: Opaque
    metadata:
      name: db-secret
      namespace: {{ .Values.namespace }}
      labels:
        {{- include "db.labels" . | nindent 8 }}
